{% extends 'pages/base.html' %}

{% block content %}
<div class="profile-container">
    <h2>Profile</h2>
    <img src="{{ url_for('static', filename='assets/pp002.png') }}" alt="Profile Picture" width="250px">

    <form action="{{ url_for('editProfile') }}" method="POST">
        <label for="picture">Profile Picture URL:</label>
        <input type="picture" id="picture" name="picture" value="{{ user.profile_picture }}" >

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}" >

        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" >

        <label for="about">About Me:</label>
        <textarea id="about" name="about" required>{{ user.about_me }}</textarea>

        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}
