<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trending</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='navbar/styles-navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages/styles-pages.css') }}">

    <script src="{{ url_for('static', filename='pages/script-pages.js') }}"></script>
    <script src="{{ url_for('static', filename='navbar/script-navbar.js') }}"></script>
</head>
<body>

    {% extends 'base.html' %}

    {% block title %}Trending{% endblock %}

    {% block content %}
        <div id="events-container"></div>
    {% endblock %}


</body>

</html>