<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kumpel Verwaltung</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar/styles-navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages/stylesV.css') }}">
    <script defer src="{{ url_for('static', filename='pages/script-pages.js') }}"></script>
</head>
<body>
    <h2>Kumpel Verwaltung</h2>

    <!-- Bestehende Kumpels -->
    <div class="bestehendeKumpels">
        <h3>Deine Kumpels</h3>
        <table>
            <tr>
                <th>Benutzername</th>
                <th>Bild</th>
            </tr>
            {% for friend in Friends %}
            <tr>
                <td>{{ Friends.username }}</td>
                <td>
                    <img src="{{ url_for('static', filename='images/' + Friend.username + '.png') }}"
                         alt="Profilbild von {{ Friends.username }}"
                         width="50">
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Erhaltene Freundschaftsanfragen-->
    <div class="kumpelAnfragen">
        <h3>Diese Kumpels möchten mit dir befreundet sein</h3>
        <table>
            <tr>
                <th>Benutzername</th>
                <th>Bild</th>
                <th>Aktion</th>
            </tr>
            {% for request in requests %}
            <tr>
                <td>{{ FriendRequest.from_user.username }}</td>
                <td>
                    <img src="{{ url_for('static', filename='images/' + FriendRequest.from_user.username + '.png') }}"
                         alt="Profilbild von {{ FriendRequest.from_user.username }}"
                         width="50" onerror="this.src='/static/images/default-profile.png';">
                </td>
                <td>
                    <form method="POST" action="{{ url_for('FriendRequest', request_id=request.id) }}">
                        <button type="submit" name="action" value="accept">Annehmen</button>
                        <button type="submit" name="action" value="delete">Ablehnen</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

        </table>
    </div>

    <!-- Suchen Button -->
    <div class="floating">
        <a href="{{ url_for('kumpelSuche') }}">
            <button>Suche</button>
        </a>
    </div>

    <!-- Footer with External Script -->
    <div id="footer-placeholder"></div>
    <script defer src="{{ url_for('static', filename='/navbar/script.js') }}"></script>
</body>
</html>
