<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kumpel Suche</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar/styles-navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages/stylesV.css') }}">
    <script src="{{ url_for('static', filename='pages/script-pages.js') }}"></script>
</head>
<body>
<a href="{{ url_for('profile') }}">Profil</a>
<h2>Kumpels Suchen</h2>

<!-- Formular zum Suchen -->
<form action="{{ url_for('kumpelSuche') }}" method="POST">
    <label>
        <input type="text" name="username" placeholder="Benutzername eingeben" required>
    </label>
    <button type="submit">Suchen</button>
</form>

<!-- Suchergebnisse -->
<h3>Suchergebnis:</h3>
{% if user_data %}
<table>
    <tr>
        <th>Benutzername</th>
        <th>Bild</th>
    </tr>
    {% for user in user_data %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>
            <img src="{{ url_for('static', filename='images/' + user[0] + '.png') }}" alt="Profilbild" width="50px">
        </td>
        <td>
            <form action="{{ url_for('meinBereich') }}" method="POST">
                <button type="submit">Kumpelschaft anfragen</button>
            </form>
        </td>


    </tr>
    {% endfor %}
</table>
{% elif message %}
<p>{{ message }}</p>
{% elif error %}
<p>{{ error }}</p>
{% else %}
<p>Keine Ergebnisse gefunden.</p>
{% endif %}

<!-- Footer -->
<div id="footer-placeholder"></div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
