{% extends 'pages/base.html' %}

{% block content %}
<div class="all">
    <div class="title">
        <u>Mein Bereich</u>
    </div>


    <div class="under_titel">Kumpels
        <h3>Events + Teilnahme</h3>
        <table>
            <tr>
                <th>Bild</th>
                <th>Event</th>
                <th>Aktivität</th>
                <th>Maximale Mitglieder</th>
                <th>Beschreibung</th>
                <th>datum</th>
                <th>Aktuelle Mitglieder Anzahl</th>


            </tr>
            {% for event in events %}
            <tr>
                <td>
                    <img src="{{ url_for('static', filename='images/' + event + '.png') }}"
                         alt="Profilbild von {{ event.name }}"
                         width="50" onerror="this.src='/static/images/default-event.png';">
                </td>
                <td>{{ event.name }}</td>
                <td>{{ event.aktivitaet }}</td>
                <td>{{ event.max_mitglieder }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.datum }}</td>
                <td>{{ event.aktuelle_anzahl }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class=floating>
            <a href="{{ url_for('create') }}">
                <button data-icon="heart" class="fab mini" title="Like action" aria-label="Like action">
                      <img src="{{ url_for('static', filename='assets/add.png') }}" alt="add" width="20px">
                </button>
            </a>
        </div>

</div>

{% endblock %}