body {
    background-color: #fff
}

:root {
    --primaryColor: #333333;
    --secondaryColor: #ddd;
    --tertiaryColor: #8873FE;
    --quaternaryColor: #A291FF;
    --darkerPrimaryColor: #363636;
    --lighterPrimaryColor: #575757;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.fabs {
    /* light button and button hover */
    --_light-bg: pink;
    --_light-bg-hover: pink;

    /* dark button and button hover */
    --_dark-bg: pink;
    --_dark-bg-hover: pink;

    /* adaptive variables set to light by default */
    --_bg: var(--_light-bg);

    /* static icon colors set to the adaptive foreground variable */
    --_light-fg: white;
    --_dark-fg: black;
    --_fg: var(--_light-fg);
    --_viewport-margin: 2.5vmin;

    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    place-items: center;
    gap: var(--_viewport-margin);

    inset-block: auto var(--_viewport-margin);
    inset-inline: auto var(--_viewport-margin);

    /* use the adaptive properties on some styles */
    background: var(--_bg);
    color: var(--_fg);

    &:is(:active, :hover, :focus-visible) {
        --_bg: var(--_light-bg-hover);

        @media (prefers-color-scheme: dark) {
            --_bg: var(--_dark-bg-hover);
        }
    }

    /* if users prefers dark, set adaptive props to dark */
    @media (prefers-color-scheme: dark) {
        --_bg: var(--_dark-bg);
        --_fg: var(--_dark-fg);
    }
}

.layout-box {
    min-height: 100px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    border: 3px solid #1f6f78;
}

.container-box {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}

.text-type-2 {
    padding: 10px;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 18px;
    text-decoration: wavy #000000 1px;
    font-weight: 700;
    color: #1f6f78;
}

.text-type-1 {
    padding: 10px;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 14px;
}

.spacer {
    padding: 10px;
    min-height: 200px;
    min-width: 100%;
}

#iyoc {
    min-height: 100px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    border: 3px solid #1f6f78;
}

#i1tlj {
    display: none;
}
#ixzci {
    min-height: 100px;
    display: flex;
    position: relative;
    height: 150px;
}
#i0juo {
    min-height: 100px;
    background-color: #93e4c1;
}
#ivppz {
    padding: 10px;
    color: #93e4c1;
    background-color: #ffffff;
}
#iief1 {
    padding: 10px;
    color: #1f6f78;
    background-color: #ffffff;
}
#i2s2i {
    min-height: 100px;
    background-color: #1f6f78;
}
#ira98 {
    padding: 10px;
    color: #118a7e;
    background-color: #ffffff;
}
#ipdq8 {
    min-height: 100px;
    background-color: #118a7e;
}
#ium1d {
    padding: 10px;
    color: #3baea0;
    background-color: #ffffff;
}
#ia7nm {
    min-height: 100px;
    background-color: #3baea0;
}
#i9lui {
    padding: 10px;
    background-color: #000000;
    color: #93e4c1;
}
#i4jqq {
    padding: 10px;
    color: #3baea0;
    background-color: #000000;
}
#ibozv {
    padding: 10px;
    color: #118a7e;
    background-color: #000000;
}
#i23rs {
    padding: 10px;
    color: #1f6f78;
    background-color: #000000;
}
#iu8uq {
    min-height: 100px;
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    flex-direction: column;
    background-repeat: unset;
    background-position: unset;
    background-attachment: unset;
    background-size: unset;
    background-image: unset;
    background-image-color: unset;
    background-image-gradient: unset;
    background-image-gradient-dir: unset;
    background-image-gradient-type: unset;
    background-color: #93e4c1;
}
#ihjng {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
#iajng {
    color: black;
    border: 10px ridge #1f6f78;
    outline: #1f6f78;
    padding: 0px 0px 0px 0px;
    margin: 20px;
}

#iwalb {
    padding: 10px;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#ihwh2 {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}

#ivm86 {
    min-height: 100px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    border: 3px solid #1f6f78;
    max-width: 1000px;
}
