
body {
    background-color: #93e4c1;
    color: #1f6f78;
    text-align: center;
}


.Daten_eingeben {
    display: inline-table;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
    text-align: left;


    border: #1f6f78;
    background-color: #1f6f78;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}


.Daten_eingeben label {
    float: left;
    display: flex;
    margin-right: 10px;
}

.Daten_eingeben input,
.Daten_eingeben textarea {
    float: left;
    display: flex;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: none;


}
.Daten_eingeben textarea {
    height: 200px;

}

.Daten_eingeben input:hover{
    background-color: #93e4c1;
}
.Daten_eingeben textarea:hover {
    background-color: #93e4c1;
}
